<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp">
  <Appenders>
    <File name="MyFile" fileName="logs/app.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="MyFile"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="Async"/>
    </Root>
    <Logger additivity="false" level="ALL" name="MyFile">
      <AppenderRef ref="Async"/>
    </Logger>
  </Loggers>
</Configuration>